<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration> 
 <typeAliases>
  <package name="com.vincent.pojo"/>
 </typeAliases> 
        <mappers>  
            <mapper resource="com/vincent/mapper/xml/CatalogMapper.xml" />
            <mapper resource="com/vincent/mapper/xml/BookMapper.xml" />
            <mapper resource="com/vincent/mapper/xml/BookInfoMapper.xml" />
        </mappers>  
</configuration>   